<div class="user-prof">
  <h2><%= current_user.username%> Profile</h2>


  <%= image_tag current_user.avatar_url(200), class: 'gravatar user_grav'  %>
  <br>
  <br>

  <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link'%>   |    
  <a href="https://en.gravatar.com/">Edit Gravatar</a> 
</div>
<div class='user_links'>
  <p>Link to Users To Do Items #</p>
  <p> Number of users to do items</p>

</div>


