<div class="items-form">
  <%= form_for [user,item], remote: false, html: {class: 'form-inline'} do |f| %>

    <div class="form-group">

        <%= f.label :name  %>
        
          <%= f.text_field :name,class: 'text-field', placeholder:'Enter the item name'%>
        
        <%#= text_field_tag 'item[name]', nil, scols: 8,class: 'form-control', placeholder:'Enter the item name'%>
      </div>
      <%= f.submit "Save",class: 'btn btn-success' %>
  <% end %>
</div>

