<div class="items-form">
  <%= form_for [user,item],remote: true do |f| %>

    <div class="form-group">
        <%= f.label :name  %>
        <%= f.text_field :name,cols: 8,class: 'form-control', placeholder:'Enter the item name'%>
      <div class="items-form">
        <%= f.submit "Save",class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>

