<!--divides into individual boxes-->
<div class='media' id='<%= "item-#{item.id}" %>'>
  <div class='media-body outline'>
    <%= "#{item.name}" %>
  </div>
  <div class='media-body outline'>
     Time Remaining<%=":  #{time_remaining(item)}" %>
  </div>
  <div class='media-body outline'>
    Edit
  </div>
  <div class='media-body outline outline-right'>
    <%= check_box_tag "item_ids[]", item.id  %>
  </div>
</div>
