
<h1>Items</h1>

<div class="item-list">
  
  <h3><%= render partial: 'items', locals: {user: current_user}%></h3>
  <br>


  <%= link_to "New Item", new_user_item_path(current_user), class: 'btn btn-primary'%>
</div>

