
<h1>Items</h1>
<div class="item-list">
  <div class="js-items">
    <%= form_tag user_items_path(@user), method: :delete do %>
      <h3><%= render current_user.items %></h3>
      <%= submit_tag "Delete Items", class: 'btn btn-xs btn-danger pull-right' %>
      <br>
    <% end %>
    <div class='new-items items-form'>
      <%= render partial: 'form', locals: {user: @user, item: Item.new}  %><!--form for creating a new item-->
      
    </div>  
  </div>
</div>
